:root {
    --primary-color: #eee;
    --secondary-color: #FFAE85;
    --primary-title-s: 24px;
    --secondary-title-s: 22px;
    --text-s: 12px;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf") tech("variations");
    font-weight: 100 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: var(--text-s);
    color: #000;
}

.button {
    font-weight: 600;
    text-align: center;
    background-color: var(--secondary-color);
}


/* Header */


/* Main page */
h1 {
    font-size: var(--primary-title-s);
    font-weight: 700;
}

.page-main-title {
    background-color: var(--primary-color);
}

h2 {
    font-size: var(--secondary-title-s);
    font-weight: 700;
    color: var(--secondary-color);
}

.page-subtitle-description {
    font-size: calc(var(--secondary-title-s) / 2);
    font-weight: 600;
    font-style: italic;
}

/* Section Event */
.event-type {
    text-transform: uppercase;
    color: var(--secondary-color);
}

.event-date {
    font-size: calc(var(--text-s) - 0.2em);
    font-weight: 300;
}

/* Article Event - Next*/
.event-next {
    background-color: var(--primary-color);
}

.event-next-title {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-weight: 600;
}

.event-next-link {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

/* Event List */
.event-list-item a {
    text-decoration: none;
    color: #000;
}
.event-list-item {
    border-bottom: 1px solid var(--primary-color);
}
/* Footer */
/* Footer top */
.footer-top {
    background-color: var(--primary-color);
}

.nav-footer-item {
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-footer-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

/* Footer bot */