@import url(../style.css);

.visibility-hidden {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

ul {
    list-style: none;
}

@media screen and (min-width: 768px) {

    .breadcrumb {
        display: flex;
        margin: 10px 0;
    }

    .breadcrumb__item {
        position: relative;
        margin-right: 20px;
    }

    .breadcrumb__item::after {
        content: ">";
        position: absolute;
        right: 0;
        display: inline;
        margin-right: -15px;
    }

    .breadcrumb__item:last-of-type {
        margin-right: 0;
    }

    .breadcrumb__item:last-of-type::after {
        display: none;
    }

    .breadcrumb__link {
        text-decoration: none;
        font-weight: 500;
        color: #000;
    }

    .breadcrumb__link--active {
        color: var(--primary-color-dark);
    }
}