@import url("../style.css");

:root {
  --event-title-color: #ff5500;
}

.event-next-block {
  background-color: var(--primary-color);
  text-align: center;
}

.event-title-wrapper {
  padding: 35px;
}

.event-title,
.event-date {
  color: var(--event-title-color);
  font-weight: 600;
  font-size: calc(var(--primary-title-s) * 0.75);
}

.event-date {
  font-style: italic;
}

.event-block-text {
  text-align: start;
  padding: 0 15px;
}

.event-img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 30px 0;
}

.event-pagination-wrapper {
  display: flex;
  background-color: #d9d9d9;
  height: 50px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

/* Formulaire d'inscription */
.inscription-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inscription-title {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: calc(var(--primary-title-s) * 0.75);
  margin-bottom: 40px;
}

.inscription-label {
  text-transform: uppercase;
  font-weight: 500;
}

.inscription-span {
  color: var(--event-title-color);
}

.inscription-input {
  border: 1px solid #d9d9d9;
  width: 90vw;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 25px;
  flex-grow: 1;
  outline: none;
}

.inscription-input:focus {
  outline: auto;
  border: 1px solid black;
}

.inscription-input::placeholder {
  color: var(--primary-color);
  padding: 0 15px;
}

.inscription-message {
  border: 1px solid #d9d9d9;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 25px;
  flex-grow: 1;
  resize: none;
  outline: none;
}

.inscription-message:focus {
  outline: auto;
  border: 1px solid black;
}

.inscription-message::placeholder {
  color: var(--primary-color);
  font-family: Inter;
  padding: 0 15px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.submit-wrapper {
  margin: 10px auto 40px auto;
}

.block-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-button button {
  background-color: #ffae85;
  /* height: 45px; */
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  padding: 15px 0;
}

.inscription-label-legend {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}
.checkbox-list-wrapper li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscription-label-checkbox {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}
