@import url("../style.css");

/* Section Event */
.event-type {
    text-transform: uppercase;
    color: var(--secondary-color);

}



.event-date {
    font-size: calc(var(--text-s) - 0.2em);
    font-weight: 300;
    display: block;
}

.event-list {
    padding: 10px;
    list-style: none;
}

.event-next-title-description {
    font-size: 12px;
    color: var(--secondary-color-intense);
}

@media screen and (min-width: 768px) {
    .event-container {
        display: flex;
        background-color: var(--primary-color);
    }
}

/* Article Event - Next*/
.event-next {
    background-color: var(--primary-color);
    text-align: center;
    padding: 21px;
}

.event-next-title {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-weight: 800;
    padding: 5px;
    color: var(--secondary-color-intense);
}

.page-subtitle-description {
    font-style: italic;
    font-weight: 800;
}

.article-title {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-weight: 800;
    display: flex;
    justify-content: center;

}

.article-description {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-style: italic;
    padding: 5px;
}

.second-article-title {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-weight: 800;
    display: flex;
    justify-content: center;

}

.second-article-description {
    font-size: calc(var(--secondary-title-s) - 0.6em);
    font-style: italic;
    padding: 5px;
}



.event-next-photo-accessoires,
.event-next-photo-jouets,
.event-next-photo-costumes {
    width: 80%;
    height: 80%;
    padding: 5px;
}


.event-next-photo-asso {
    width: 90%;
    height: 90%;
    padding: 5px;

}


@media screen and (min-width: 768px) {
    .texte-et-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .equipe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 100px;


    }

    .trait {
        width: 600px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        display: flex;
        font-weight: 600;
        font-size: var(--text-s);
        width: 30%;
        padding: 10px;
        text-align: center;
        background-color: var(--secondary-color);
        text-decoration: none;
        justify-content: center;
        margin: 7%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 15%);
        min-width: 127px;
        min-height: 26px;
        color: #000;


    }



    .event-next {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }


    .event-next-photo-asso {
        width: 65%;
        height: 65%;
    }

    .event-next-title {
        padding: 0;
    }

    .event-next-block {
        margin-top: 5px;
    }

    .article-historique {
        display: flex;
        flex-direction: row;

    }

    .event-next-texte {
        justify-content: left;
    }



}

@media screen and (max-width: 768px) {

    .Accessoires,
    .Jouets,
    .Costumes {
        margin-bottom: 8%;
    }

    .event-next-photo-accessoires,
    .event-next-photo-jouets,
    .event-next-photo-costumes {
        width: 60%;
        height: 60%;
        padding: 5px;
    }

    .event-next-photo-asso {
        width: 90%;
        height: 90%;
    }

    .event-next-texte {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
    }

    .button {
        display: block;
        font-weight: 600;
        font-size: var(--secondary-title-s);
        width: 100%;
        padding: 15px;
        text-align: center;
        background-color: var(--secondary-color);
        border-radius: 3px;
        text-decoration: none;
        color: #000;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 15%);

    }

    .article-title {
        font-size: var(--primary-title-s);
    }

    .event-next-photo {
        height: 80%;
        width: 80%;
    }
}


/* Event List */
.event-list-item a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px;
}

.event-list-item {
    border-bottom: 1px solid var(--primary-color);
}

/* Tableau Planning */

.planning-table-container {
    overflow-x: scroll;
    margin-bottom: 100px;
}

.planning-table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 520px;
    width: 520px;
}

.planning-table td {
    height: 20px;
    text-align: center;
    border: 1px solid black;
}

.planning-table thead td,
.planning-table .table-time {
    text-align: start;
}

.planning-table-couture {
    background-color: #d9d2e9;
}

.planning-table-enfant,
.planning-table-bebe {
    background-color: #cfe2f3;
}

.planning-table-tricot {
    background-color: #ead1dc;
}

@media screen and (min-width: 768px) {
    .planning-table-container {
        display: flex;
        overflow: auto;
        margin-bottom: 100px;
    }

    .planning-table {
        flex-grow: 1;
    }
}

.equipe {
    text-align: center;
}